<footer class="bg-100 text-center text-dark">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-floating m-1" href="https://www.facebook.com/profile.php?id=100087043568574" role="button"><img src="\assets\fb.png" alt=""></a>
        <a class="btn btn-floating m-1" href="https://www.facebook.com/profile.php?id=100087043568574" role="button"><img src="\assets\google.png" alt=""></a>
        <a class="btn btn-floating m-1" href="https://www.facebook.com/profile.php?id=100087043568574" role="button"><img src="\assets\insta.png" alt=""></a>
      </section>
  
      <section class="">
        <form action="">
  
          <div class="row d-flex justify-content-center">
  
            <div class="col-auto">
              <p class="pt-2">
                <strong>Subscríbase a nuestro boletín</strong>
              </p>
            </div>
  
            <div class="col-md-5 col-12">
  
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Dirección de correo electrónico</label>
              </div>
            </div>
  
            <div class="col-auto">
  
              <button type="submit" class="btn btn-outline-light mb-4">
                Suscríbase
              </button>
            </div>
  
          </div>
  
        </form>
      </section>
  
      <section class="mb-4">
        <p>
          Mantente informado de nuestras últimas noticias y ofertas.
          Puedes dejar de seguirnos cuando quieras, te invitamos a consultar nuestras condiciones de privacidad e información de contacto.
          información.
        </p>
      </section>
  
      <section class="">
  
        <div class="row">
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Productos</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Descuentos</a>
              </li>
              <li>
                <a href="#!" class="text-white">Libros Nuevos</a>
              </li>
              <li>
                <a href="#!" class="text-white">Los más vendidos</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Esta empresa</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Deliver</a>
              </li>
              <li>
                <a href="#!" class="text-white">Aviso legal</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terminos y Condiciones</a>
              </li>
              <li>
                <a href="#!" class="text-white">Sobre nosotros</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contactanos</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Mi Cuenta</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Información Personal</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ordenes</a>
              </li>
              <li>
                <a href="#!" class="text-white">Direcciones</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">La Tienda</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">BookLife</a>
              </li>
              <li>
                <a href="#!" class="text-white">México</a>
              </li>
              <p>Envíenos un correo electrónico <strong>BookLife@gmail.com</strong></p>
            </ul>
          </div>
  
        </div>
  
      </section>
  
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#!">BookLife.com</a>
    </div>
  
  </footer>