<div id="header-div">
    <ul class="navbar bg-negro mb-0 sticky-top">
      <div id="nav1">
        <li class="nav-item">
          <nav class="navbar bg-main ms-1">
            <div class="container-fluid">
  
              <div class="btn-group">
                <a class="navbar-brand text-blanco" href="/book-life">
                  <img src="/assets/logo.jpeg" alt="BookLife" class="text-blanco d-inline-block align-text-top">
                </a>
                <button type="button" class="btn btn-logo text-blanco dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/book-life/wish-list">Lista de Deseos</a></li>
                  <form class="itemBtn" target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHBwYJKoZIhvcNAQcEoIIG+DCCBvQCAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAAth+N9Pi5dmxv+GhR7ywdQcMkFU6Hx0/mVPPdeSGqLmUiqxUMWEn4OQvlM85pgVHEG35LjLhNiqlMtYK0FIFMxSfoxQA2vqJE9AdJDtrwxc8H6jyehLwYzI9oOOejyMWeuPuWvgpIT3glNm4b4BBbzCq5c7ThktonMJesQZDIwwxCzAJBgUrDgMCGgUAMFMGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIZDgVW2c6LjOAMNBfxmwrV2EBORoEb+6MJ5TY8nzmrjx5uwGcYMysMDOxqsQp1kVSYXPsWFhICHgCv6CCA6UwggOhMIIDCqADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwNDE5MDcwMjU0WhcNMzUwNDE5MDcwMjU0WjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3luO//Q3So3dOIEv7X4v8SOk7WN6o9okLV8OL5wLq3q1NtDnk53imhPzGNLM0flLjyId1mHQLsSp8TUw8JzZygmoJKkOrGY6s771BeyMdYCfHqxvp+gcemw+btaBDJSYOw3BNZPc4ZHf3wRGYHPNygvmjB/fMFKlE/Q2VNaic8wIDAQABo4H4MIH1MB0GA1UdDgQWBBSDLiLZqyqILWunkyzzUPHyd9Wp0jCBxQYDVR0jBIG9MIG6gBSDLiLZqyqILWunkyzzUPHyd9Wp0qGBnqSBmzCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAVzbzwNgZf4Zfb5Y/93B1fB+Jx/6uUb7RX0YE8llgpklDTr1b9lGRS5YVD46l3bKE+md4Z7ObDdpTbbYIat0qE6sElFFymg7cWMceZdaSqBtCoNZ0btL7+XyfVB8M+n6OlQs6tycYRRjjUiaNklPKVslDVvk8EGMaI/Q+krjxx0UxggGkMIIBoAIBATCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0yMjEyMDUxNjUyNTBaMCMGCSqGSIb3DQEJBDEWBBSrMAfjkYJ4me0+Ld9aFiWcyMjHUDANBgkqhkiG9w0BAQEFAASBgJxeqoZY8TG7z4IhSNDjtaEviB71o2Xo96PxdJikL4G6MWRz2tiBLJQInTErW27IdSV2tJbrREjddolN7wpALDtnstiaK+thsseDjez50olVt9m9j9ekIFe7FPnNi/A5PUIDgyJGeMtE3n3JttdBlclkpVgDAj7woLLBwXAyx5M/-----END PKCS7-----">
                    <input type="image" src="https://www.sandbox.paypal.com/es_XC/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/book-life/contact">Contáctanos</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </li>
        <li class="navbar bg-negro dropdown ms-4">
          <a class="nav-link dropdown-toggle text-blanco" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Libros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/book-life?tipo=ebook">E-Book</a></li>
            <li><a class="dropdown-item" href="/book-life?tipo=fisico">Físicos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/book-life">Todos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/book-life?categoria=drama">Drama</a></li>
            <li><a class="dropdown-item" href="/book-life?categoria=fantasia">Fantasía</a></li>
            <li><a class="dropdown-item" href="/book-life?categoria=manga">Manga</a></li>
          </ul>
        </li>
  
        <li class="navbar bg-negro ms-4">
          <a class="nav-link text-blanco" href="/book-life/about">Sobre Nosotros</a>
        </li>
  
      </div>
  
      <div id="nav2">
        <li class="navbar ms-4">
          <a class="btn text-blanco" href="/book-life/user">Mi Perfil</a>
  
        </li>
        <li class="navbar ms-4">
          <a class="btn text-blanco" href="/book-life/login">Salir</a>
        </li>
      </div>
  
    </ul>
  </div>