<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>Login</title>
</head>

<body>
  <div class="login-container">
    <div class="login-info-container">
      <h1 class="title">Ingresar con</h1>
      <div class="social-login">
        <div class="social-login-element">
          <img src="/assets/google.svg" alt="google-image">
          <span>Google</span>
        </div>
        <div class="social-login-element">
          <img src="/assets/facebook.svg" alt="facebook-image">
          <span>Facebook</span>
        </div>
      </div>
      <p>o</p>
      <form class="inputs-container" method="POST" action="/book-life/login" id="form">
        <input class="input" type="email" name="usuario" id="usuario" placeholder="Ingrese su Correo">
        <input name="password" id="password" class="input" type="password" placeholder="Contraseña">
        <p>¿Olvidaste tu contraseña? <span class="span">Click aquí</span></p>
        <button class="btnIngresar" onclick="validar()">Ingresar</button>
        <a href="/book-life/registrer"><p>¿No tienes una cuenta?<span class="span">Registrate</span></p></a>
      </form>
    </div>
    <img class="image-container" src="/assets/login.jpg" alt="login">
  </div>
</body>

</html>