<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/CSS/perfil.css">
    
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
       
    </head>
<body>
    <div id="header-div">
        <ul class="navbar bg-negro mb-0 sticky-top">
            <div id="nav1">
                <li class="nav-item">
                    <nav class="navbar bg-main ms-1">
                        <div class="container-fluid">
    
                          <!-- Example split danger button -->
                          <div class="btn-group">
                            <a class="navbar-brand text-blanco" href="/book-life">
                              <img src="/assets/logo.jpeg" alt="BookLife" class="text-blanco d-inline-block align-text-top">
                            </a>
                            
            
            
                        </div>
                      </nav>
                    </li>
            
                    <li class="navbar bg-negro ms-4">
                      <a class="nav-link text-blanco" href="/book-life">Inicio</a>
                    </li>
    
                        
                        </div>
                    </nav>
                </li>
                
                
            
            </div>
            
           
            
        </ul>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 my-lg-0 my-md-1">
                <div id="sidebar" class="bg-purple">
                    <div class="h4 text-white">Cuenta</div>
                    <ul>
                        <li >
                            <a href="/book-life/user" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Mi cuenta</div>
                                    <div class="link-desc">Ver y gestionar pedidos y devoluciones</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Mis Pedidos</div>
                                    <div class="link-desc">Ver y gestionar pedidos y devoluciones</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none d-flex align-items-start">
                                <div class="far fa-address-book pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Agenda de direcciones</div>
                                    <div class="link-desc">Ver y gestionar las direcciones</div>
                                </div>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/book-life/user-edit" class="text-decoration-none d-flex align-items-start">
                                <div class="far fa-user pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Mi perfil</div>
                                    <div class="link-desc">Cambiar los datos del perfil y la contraseña</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-headset pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Ayuda y soporte técnico</div>
                                    <div class="link-desc">Póngase en contacto con nosotros para obtener ayuda y asistencia</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 my-lg-0 my-1 ">
                <div id="main-content" class="bg-light border">
                    <div class="d-flex flex-column">
                        <img class="rounded-circle mt-5" width="100px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <div class="h5">Hola Sarai,</div>
                        <div>Conectado como: eguzman@correo.com.com</div>
                       
                    </div>
                   
                    <div class="d-flex my-4 flex-wrap">
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Nombre</label>
                            <label for="" class="lavels">Sarai</label></div>
                            <div class="col-md-6"><label class="labels">Apellido: </label><label for="" class="lavels">Guzman</label</div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Emai: </label>
                                <label for="" class="lavels">eguzman@correo.com</label>
                            </div>
                            <div class="col-md-12"><label class="labels">Contraseña: </label><label for="" class="lavels">1234</label</div>
                            
                        </div>
                    
                    
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>